html {
	background-color: #fff0db;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

img,
picture,
video {
	max-width: 100%;
}

a.homebutton {
	text-decoration: none;
	border: 4px solid #d9b99b;
	border-radius: 10px;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	width: 200px;
}

.container {
	padding-right: 16px;
	padding-left: 16px;
	margin-right: auto;
	margin-left: auto;
}

.postcontent {
	text-align: justify;
}

.puzzlegame {
	display: flex;
}

.assetspace {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.towerlabels {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	width: 50%;
	align-items: center;
t	justify-items: center;
	aspect-ratio: 1 / 1;
	margin-right: auto;
	margin-left: auto;
}

.towerlabel {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 3px;
}

.labelstoequations {
	display: flex;
}

.equations {
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	margin: 0;
}

.board {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	width: 60%;
	align-items: center;
	justify-items: center;
	aspect-ratio: 1 / 1;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	gap: 7px;
}

.mathjax {
	display: flex;
	justify-content: center;
}

button {
	font-family: inherit;
	background-color: #fff0db;
	text-decoration: none;
	border: 4px solid #d9b99b;
	border-radius: 10px;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

button:hover {
	color: white;
	background-color: #eed9c4;
}

button:active {
	color: #e4d5b7;
}

button:disabled {
	color: #e4d5b7;
	background-color: #eed9c4;
}

header {
	text-align: center;
}

img.mimage {
	width: 100%;
	aspect-ratio: 1 / 1;
}

a:hover {
	color: white;
}

a.homebutton:hover {
	background-color: #eed9c4;
}

a:active {
	color: #e4d5b7;
}

@media screen and (min-width: 1024px) {
	.container {
		max-width: 800px;
		padding-right: 24px;
		padding-left: 24px;
	}

	a.homebutton {
		border: 5px solid #d9b99b;
		width: 267px;
	}

	.buttons {
		gap: 10px;
	}

	button {
		border: 5px solid #d9b99b;
	}

	.towerlabel {
		gap: 5px;
	}
}
